/* all */
:root {
  --main-color: #403c39;
  --sub-color: #9c9170;
  --text-color: white;
}
body {
  background-image: url("../images/musicbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h2,
p {
  color: var(--text-color);
  text-shadow: 1px 2px 3px #403c39;
}

/* top */
.navbar {
  background-color: var(--main-color);
  color: var(--text-color);
}
.navbar-brand {
  color: var(--text-color);
}
.nav-link {
  color: var(--text-color);
}
.navbar-toggler-icon {
  color: var(--text-color);
  height: 100%;
}
.navbar-brand:hover,
.nav-link:hover {
  color: var(--sub-color);
}
.name {
  font-size: 100px;
  color: var(--text-color);
  position: relative;
  left: 30px;
  text-shadow: 2px 3px 2px var(--sub-color);
}
.detail {
  font-size: 30px;
  color: var(--text-color);
  position: relative;
  left: 30px;
  text-shadow: 2px 3px 2px var(--sub-color);
}
.topimage {
  text-align: center;
  height: 400px;
  background-image: url("../images/bühne.jpg");
  background-size: cover;
  position: relative;
}
.topimage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.bio {
  background-color: rgba(0, 0, 0, 0.2);
}

/* carousel */
.carouselsize {
  width: 60%;
  height: 50%;
}

/* cards */
.card-group {
  background-color: rgba(0, 0, 0, 0.2);
}

/* contactbutton */
.contactbutton {
  text-align: center;
  font-size: 50px;
}
.btn-primary {
  color: white;
  background-color: var(--sub-color);
  border-bottom: 5px solid var(--sub-color);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-color: var(--sub-color);
  padding: 20px;
  text-align: center;
}
.btn-primary:hover {
  margin-top: 3px;
  color: #fff;
  background: #b7a775;
  border-bottom: 5px solid #b7a775;
  border-color: #b7a775;
}

/* footer */
.footer {
  min-height: 25vh;
  position: relative;
  background-color: var(--main-color);
  color: var(--text-color);
  bottom: 0;
}
.copyright {
  position: absolute;
  bottom: 0;
  padding-left: 15px;
}

/* contact form */
.form-control {
  width: 350px;
}
label {
  color: var(--text-color);
}
.send {
  text-align: center;
  width: 150px;
  padding: 10px;
}

/* thankspage */
.thanks {
  color: var(--text-color);
  font-size: 50px;
  height: 400px;
}
.thanksdetail {
  font-size: 30px;
}

@media screen and (max-width: 540px) {
  .topimage {
    height: 200px;
  }
  .form-control {
    width: 70%;
  }
  .name {
    font-size: 40px;
    text-align: center;
    top: 50px;
    left: 0px;
  }
  .detail {
    font-size: 16px;
    left: 0px;
    top: 60px;
  }
  .thanks {
    font-size: 30px;
  }
}
