:root {
  --main-color: #f8f9fa;
}

.topimage {
  text-align: center;
  height: 500px;
  background-image: url("../images/bühne.jpg");
  background-size: cover;
}
h1 {
  font-size: 100px;
  color: white;
}
/* .img .carousel-item {
  width: 400%;
} */

.footer {
  height: 300px;
  background-color: var(--main-color);
}
