/* all */
:root {
  --main-color: #f8f9fa;
}

/* top */
.topimage {
  text-align: center;
  height: 500px;
  background-image: url("../images/bühne.jpg");
  background-size: cover;
}
h1 {
  font-size: 100px;
  color: white;
}

/* carousel */
.carouselsize {
  width: 50%;
  height: 50%;
}

/* contactbutton */
.contactbutton {
  text-align: center;
  font-size: 50px;
}
.btn-primary {
  color: white;
  background-color: #84cbf6;
  border-bottom: 5px solid #84cbf6;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-color: #84cbf6;
  padding: 20px;
  text-align: center;
}
.btn-primary:hover {
  margin-top: 3px;
  color: #fff;
  background: #2cc8ff;
  border-bottom: 2px solid #2cc8ff;
  border-color: #2cc8ff;
}

/* footer */
.footer {
  height: 300px;
  background-color: var(--main-color);
}
